<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('partials/head.ejs') %>
    <title><%= title%></title>
</head>
<body>
    <%- include('partials/navigation.ejs') %>
    <main class="container vh-100 pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1 d-flex justify-content-center">About</h1>
            <p class="d-flex justify-content-center">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Blanditiis veniam, mollitia harum neque pariatur aliquam. 
                 Quaerat sint vel distinctio nesciunt, veniam, incidunt porro odit inventore
                 dignissimos quis ullam maiores et.
            </p>
        </section>
        <%- include('partials/footer.ejs') %>
</body>
</html>

